.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #05b4ff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 560px;
  row-gap: 94px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 1327px;
  position: absolute;
  left: 38px;
  top: 14px;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 47px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.homepage {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  gap: 99px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1177px;
  height: 142px;
  position: relative;
}
.bmgt-407-information-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  width: 1117px;
  height: 89px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-the-goal-of-the-course-is-to-provide-the-students-with-opportunity-to-apply-the-knowledge-and-skills-that-they-have-acquired-in-other-is-courses-through-developing-is-solutions-to-solve-real-world-business-problems {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 167px;
}
.semester-details-spring-2025-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 70px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 212px;
}
